<div>
    <p>We are a group of backend students at the TechCrush programme (The third cohort) who were given a task to create a blog post page. We created this using node.js without database.</p>
    <p>The Blog is built with a strong focus on Node.js and Express as the core backend. It uses JSON for handling post data and EJS combined with CSS for the frontend design and styling</p>
</div>