<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Group Three Devs</title>
</head>
<body>
    <h1>Meet Our Team</h1>
    <ul>
        <h5>Odidika Somto Anthony</h5>
        <p>A seasoned developer with epitome of knowledge in designing
            responsive websitec, currently he's the brain behind Middleware functions are functions 
            that have access to the request object..
        </p>
    </ul>
    <ul>
        <h5>Olukayode Feyisike Pelumi</h5>
        <p>A seasoned developer with epitome of knowledge in designing
            responsive websitec, currently he's the brain behind Routing refers to how an application’s endpoints (URIs) 
            respond to client requests.. 
        </p>
    </ul>
    <ul>
        <h5>Francis Egbuleze</h5>
        <p>A seasoned developer with epitome of knowledge in designing
            responsive websitec, currently he's the 
            brain behind Template engines allow you to use static template
            files in your application..</p>
    </ul>
    <ul>
        <h5>Frederick Baafi</h5>
        <p>A seasoned developer with epitome of knowledge in designing
            responsive websitec, currently he's the 
            brain behind Express makes it easy to serve static files such as images, 
            CSS files, and JavaScript files..</p>
    </ul>
    <ul>
        <h5>Harrison Daniel Chinomso</h5>
        <p>A seasoned developer with epitome of knowledge in designing
            responsive websitec, currently he's the 
            brain behind Integrating a database into your Express application 
            allows you to store and retrieve data...</p>
    </ul>
    <ul>
        <h5>Onigbinde Joshua Oluwafenwa</h5>
        <p>A seasoned developer with epitome of knowledge in designing
            responsive websitec, currently he's the 
            brain behind Implementing authentication and authorization 
            is crucial for securing your application...</p>
    </ul>
    <ul>
        <h5>Agu Michael Uche</h5>
        <p>A seasoned developer with epitome of knowledge in designing
            responsive websitec, currently he's the 
            brain behind Deploying Express Applications</p>
    </ul>
    <ul>
        <h5>Omijori Muiz Ayomide</h5>
        <p>A seasoned developer with epitome of knowledge in designing
            responsive websitec, currently he's the 
            brain behind Performance 
            Optimization in Express</p>
    </ul>
    <ul>
        <h5>Mungathia Nancy Karimi</h5>
        <p>A seasoned developer with epitome of knowledge in designing
            responsive websitec, currently he's the 
            brain behind Testing is an essential part of the development process to ensure 
            your application works as expected...</p>
    </ul>
</body>
</html>