<div>
    <p>We are a group of backend students at the TechCrush programme (The third cohort) who were given a task to create a blog post page. We created this using node.js without database. We hope this works. Bye</p>
</div>