<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Contact Group Three Teams</h1>
    <ul>
        <li>
            <h2>Mungathia Nancy Karimi</h2>
            <h5>Mobile: +234 xxxx-xxx-xx</h5>
        </li>
    </ul>

    <ul>
        <li>
            <h2>Omijori Muiz Ayomide</h2>
            <h5>Mobile: +234 xxxx-xxx-xx</h5>
        </li>
    </ul>

    <ul>
        <li>
            <h2>Agu Michael Uche</h2>
            <h5>Mobile: +234 xxxx-xxx-xx</h5>
        </li>
    </ul>

    <ul>
        <li>
            <h2>Onigbinde Joshua Oluwafenwa</h2>
            <h5>Mobile: +234 xxxx-xxx-xx</h5>
        </li>
    </ul>

    <ul>
        <li>
            <h2>Harrison Daniel Chinomso</h2>
            <h5>Mobile: +234 xxxx-xxx-xx</h5>
        </li>
    </ul>

    <ul>
        <li>
            <h2>Frederick Baafi</h2>
            <h5>Mobile: +234 xxxx-xxx-xx</h5>
        </li>
    </ul>

    <ul>
        <li>
            <h2>Francis Egbuleze</h2>
            <h5>Mobile: +234 xxxx-xxx-xx</h5>
        </li>
    </ul>

    <ul>
        <li>
            <h2>Olukayode Feyisike Pelumi</h2>
            <h5>Mobile: +234 xxxx-xxx-xx</h5>
        </li>
    </ul>

    <ul>
        <li>
            <h2>Odidika Somto Anthony </h2>
            <h5>Mobile: +234 xxxx-xxx-xx</h5>
        </li>
    </ul>
    
</body>
</html>