<div>
    <ul>
        <li><a href = 'mailto:fjbaafi18@gmail.com' target="_blank">Fred</a></li>
        <li><a href= 'mailto:onigbindejoshua9@gmail.com' target="_blank">Harrison</a></li>
        <li><a href = 'mailto:engrcharles33@gmail.com' target="_blank">Michael</a></li>
        <li><a href = 'mailto:kariminancy097@gmail.com' target="_blank">Nancy</a></li>
        <li><a href = 'mailto:odidikaanthony02@gmail.com' target="_blank">Tony</a></li>
        <li><a href = 'mailto:oelimuyah@gmail.com' target="_blank">Eli</a></li>
        <li><a href = 'mailto:onigbindejoshua9@gmail.com' target="_blank">Muiz</a></li>
        <li><a href = 'mailto:feyik97@gmail.com' target="_blank">Feyi Ken</a></li>
        <li><a href = 'mailto:francisegbuleze@gmail.com' target="_blank">Francis</a></li>
        <li><a href = 'mailto:onigbindejoshua9@gmail.com' target="_blank">Fenwa</a></li>
    </ul>
</div>