<div class="author">
  <h1 class="author_heading">Edit Existing Post</h1>
  <p class="author_body">Share your thoughts with the community</p>
</div>

<section class="articles">
  <form action="/edit" method="POST" class="form-post">
    <input type="hidden" name="id" value="<%= post.id %>" />
   <label>Title:</label>
 <input type="text" name="title" value="<%= post.title %>" required />
    <input type="text" name="title" required />

    <label>Author:</label>
    <input type="text" name="author" value="<%= post.author %>" required />

    <label>Body:</label>
    <textarea name="body" required><%= post.body %></textarea>

    <button type="submit" class="btn-submit">Update Post</button>
  </form>
</section>