<!DOCTYPE html>
<html>
<head>
    <title>Simple Blog Page | Group Three</title>
    <link rel="stylesheet" href="public/styles.css">
</head>
<body>
    <header>
        <h1>Hello Devs, welcome to our simple blog page!...</h1>
        <nav>
            <a href="/posts.json">All Posts</a>
        </nav>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <p>&copy; 2025 Simple Blog Page | Group Three</p>
        <p>All rights reserved.</p>
        </footer>
</body>
</html>