<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
  <title>Post</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>Simple Blog</h1>
    <nav><a href="/posts">All Posts</a></nav>
  </header>

  <main>
    <article>
      <h2>Setting up Middleware in Express</h2>
      <p><small>By  Odidika Somto Anthony on 27/09/2025</small></p>
      <p>Middleware functions are functions that have access to the request object</p>
    </article>
    <a href="/posts"> Back to Posts</a>
  </main>

  <footer>
    <p>&copy; 2025 Simple Blog Project</p>
  </footer>
</body>
</html>
=======
>>>>>>> ec2a321c5bcd6c1f59f65eb4df97a20488b43773
